#whole{
    background-image: url("/images/tri.png");
    background-repeat: no-repeat;
    font-family: 'Roboto','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 30px;
    position:relative;
    background-size: auto 100%;
    background-size: 100% auto;
    position: center -30px;
    background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  view-port{
      height: 500px;
  }
header{
    color: rgba(53, 100, 71, 0.788);
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100px;
    display:flex;
    }
.navbar{
    display:flex;
    justify-content: space-between;
 }
a{
    margin-left: 20px;
    text-decoration: none;
    
}
.anchor{
    color: rgba(53, 100, 71, 0.788);
    font-weight:lighter;
    font-size: 14pt;
}
.point{
    color:silver;
}
a:hover{
color: gold;
}
#logo{
        display: flex;
        justify-content: left;
    }
.logo{
        font-weight: bold;
    }
#zipi{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    color:white;
}
#pic{
        width: 150px;
        height:90px;
    }
#image{    
        width: 200px;
        height:200px;
        border-radius:50px;
        opacity:0.5;              
        }
        #image:hover{
            opacity: 1;
        }
footer{   
        background-color: black;
        text-align: center;
        color: white;
        height: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        }
#footer{
        display: flex;
        justify-content: space-around;
        align-items:center;
        }
.portfolio{
            height:300px;
            display: flex;
            
        }
.zipi .welcome-section{
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}
#welcome-section{
    border-radius: 20px;
    width: 700px;
    height: 500px;
    margin-left: -350px;
    border-color: black ;
}
.media{
    height:50px;
    width:50px;
}
#me{
    border-radius: 20px;
    margin-right: auto;
    /* padding: auto; */
}
.twit{
    width: 80px;
    height: 80px;
    margin-bottom: -15px;
    }
    #left{
        margin-left: -30px;
    }

