header{
<<<<<<< HEAD
background-color: #9f041e;
=======
background-color:#021831;
>>>>>>> 2c7b6af249688e7b2b56677ca291bd2ba5cdd7c8
align-items: center;
text-align: center;
justify-content: space-between;
height: 100px;
display:flex;
opacity:100%;
padding-top: 20px;
padding-bottom: 20px;
font-family: 'Roboto', sans-serif;

}
header-navbar{
    background-color: red;

}
/*styles for the footer*/
footer{   
background-color: black;
text-align: center;
color: white;
height: 100px;
padding-top: 20px;
padding-bottom: 20px;
font-family: 'Roboto', sans-serif;
}

#footer{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.navbar{
   display:flex;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-wrap: wrap;
}

a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-size: 18pt;
}

a:hover{
color: white;
}

#logo{
    display: flex;
    justify-content: left;
    
}

.logo{
    font-weight: bold;
<<<<<<< HEAD
    
    
=======
    font-size: x-large;
    color: white;
>>>>>>> 2c7b6af249688e7b2b56677ca291bd2ba5cdd7c8
}
.groupname{
    font-weight:bold;
    font-size: xx-large;
}
.content{
<<<<<<< HEAD
    color: goldenrod;
    text-align: left;
    height: 100vh;
    font-weight: bold;
    font-size: 20px;
    background-image:url("/images/mh.jpg");
    display: flex;
    flex-direction: column;

}
.intro{
    padding-left: 20px;
}
.welcomemsg{
    padding-top: 20px;
    padding-left:20px;
}
.sharon-portfolio{
    height:100vh;
    display: flex;
    height:100vh;
    font-size: 12pt;
    text-align: left;
    font-family: 'PT Serif', serif;
    background-color: #e9e7e8;  
}
.sharon{
    flex-shrink:2;
    color: black;
    padding-top:40px;
    padding-left: 40px; 
    text-align: left;
    position: relative;  
    opacity: 80%;
   
   
}
.greet{
    font-weight: bolder;
    animation-name:greeting;
     animation-duration:4s;
     animation-iteration-count: infinite;   
}
@keyframes greeting{
    from{color:black;}
    to{color:maroon;}
}
.section2{
    display:flex;
    flex-shrink:2;
    padding-top: 40px;
    padding-left: 40px;
    background-color:tomato;
    opacity:80%;
   
}
.sharonpic{ 
    display:flex;
    flex-shrink:1; 
   color:black;
   font-weight: bold;
    border-style: groove;
   background-size: 100px 100px;
   background-repeat: no-repeat;
   box-shadow: 40px 40px 20px 20px bisque;
   object-fit: fill;
   margin-bottom: 80px;
   margin-right: 40px;
   background-size: cover;
   background-image: url(/images/sharon.jpg);
   opacity:100%
}
.hit{
    color: black;
    font-style: oblique;
    text-align: center;
=======
    text-align: center;
    height: 100vh;
    padding-top: 150px;
    background-image:url("/images/mh.jpg");
    font-size:xx-large; 
    color: whitesmoke;
}
.pauline-portfolio{
    display: flex;
    height: 100vh;
    background-image:url("/images/silver\ surfer.jpg");
    color:black;
    font-family:sans-serif;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    
}

.pauline{
   font-size: 18pt;
   height: 100vh;
   float: right;
   /* display: flex;
   align-content: flex-start;
     */
}  

#a1,#a2{
    font-size:medium;
>>>>>>> 2c7b6af249688e7b2b56677ca291bd2ba5cdd7c8
}
#a2{
    margin-left: 20px;
}

h1{
    text-align: left;
    font-weight: bold;
}
<<<<<<< HEAD
.section2 h1{
    text-align: center;
}
.a{
    font-size: 12pt;
    text-decoration: underline;
}
#welcome-section h1{
     text-align: center;
     font-weight: bolder;
     font-size: 20pt;
}
.contact img {
    height:20px;
    width:20px;
}

body{
    background-color: white;
}
@media screen and (max-width:600px){
    body{
        background-color: blue;

    }    
}
@media screen and (max-width: 768px){
    body{
        background-color: gold;
    }    
}

=======

body{
    background-color:aqua;
}
@media screen and (max-width: 800px){
    body{
        background-color: red;
    }
}
#profile{
    display: flex;
    margin-left: 200px;
    margin-bottom: 100px;
    margin-top: -50px;
    margin-right: 500px;
    
}
 
#pauline-welcome-section{
    text-align: center;
}
h1{
    text-align: center;
}
.me{
    font-size: x-large;
    color: whitesmoke
}
>>>>>>> 2c7b6af249688e7b2b56677ca291bd2ba5cdd7c8
